# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.sh   text
*.rb   text
*.pl   text
*.b64  text
*.yang text
*.txt text
*.mkd text
*.xml text
*.sh text
*.sid text
Makefile text
